@font-face {
  font-family: fredokaOne;
  src: url(../fonts/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: comfortaa;
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
  font-family: ds;
  src: url(../fonts/DS-DIGII.TTF);
}
