@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Neuropolitical;
  src: url(../fonts/neuropolitical.ttf);

}

@font-face {
  font-family: ZeroHour;
  src: url(../fonts/zeroHour.ttf);
}

@font-face {
  font-family: aspace;
  src: url(../fonts/aspace_demo.otf);
}

@font-face {
  font-family: A-Space;
  src: url(../fonts/A-Space_Heavy.otf);
}
