.clock_window{
  height: 1000px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  text-align: center;
  align-items: center;
}


.titleClock{
  margin-top: 10%;
}

.moveGround{
  width: 130px;
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/dayNight.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.clock{
  width: 270px;
  height: 270px;
  margin: 20% 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/hexSolarfill.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 4px solid rgba(4, 144, 140, 0.4);
  box-shadow: 0 -15px 15px rgba(4,144,140, 0.05),
              inset 0 -15px 15px rgba(4,144,140, 0.05),
              0 -15px 15px rgba(1,52,73, 0.3),
              inset 0 -15px 15px rgba(1,52,73, 0.3);


  border-radius: 50%;
}

.clock::before{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #203A43;
  border-radius: 50%;
  z-index: 13;
}

.clock .hour,
.clock .min,
.clock .sec{
  position: absolute;

}

.clock .hour, .hr{
  width: 110px;
  height: 110px;
}

.clock .min, .mn{
  width: 160px;
  height: 160px;
}


.clock .sec, .sc{
  width: 190px;
  height: 190px;
}

.hr, .mn, .sc{
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before{
  content: '';
  position: absolute;
  width: 6px;
  height: 55px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 80px;
  background: -webkit-linear-gradient(left, #8f6B29, #FDE08D, #DF9F28);
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 110px;
  background: -webkit-linear-gradient(left, #8f6B29, #FDE08D, #DF9F28);
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.digitalTimer{
  margin-bottom: 30px;
}

.footerClock{
  padding-top: ;
}

.timer{
  margin-top: 5%;
  margin-bottom: 30%;
}

@media screen and (min-width:768px){
  .clock_window{
    height: 1300px;
  }

  .moveGround{
    width: 208px;
    height: 208px;
  }
  .clock{
    width: 432px;
    height: 432px;
    border-size: 5px;
    box-shadow: 0 -25px 25px rgba(4,144,140, 0.05),
                inset 0 -25px 25px rgba(4,144,140, 0.05),
                0 -25px 25px rgba(1,52,73, 0.3),
                inset 0 -25px 25px rgba(1,52,73, 0.3);

    margin: 10% 0% 5% 0%;
  }
  .clock::before{
    width: 19px;
    height: 19px;
  }

  .clock .hour, .hr{
    width: 176px;
    height: 176px;
  }

  .clock .min, .mn{
    width: 256px;
    height: 256px;
  }


  .clock .sec, .sc{
    width: 304px;
    height: 304px;
  }

  .hr::before{
    width: 9px;
    height: 88px;
  }

  .mn::before{
    width: 6px;
    height: 128px;
  }

  .sc::before{
    width: 2px;
    height: 176px;
  }
}
@media screen and (min-width:1024px){
  .clock_window{
    height: 1800px;
  }

  .moveGround{
    width: 312px;
    height: 312px;
  }
  .clock{
    width: 648px;
    height: 648px;
    border-width: 8px;
    box-shadow: 0 -35px 35px rgba(4,144,140, 0.05),
                inset 0 -35px 25px rgba(4,144,140, 0.05),
                0 -35px 35px rgba(1,52,73, 0.3),
                inset 0 -35px 35px rgba(1,52,73, 0.3);


  }
  .clock::before{
    width: 29px;
    height: 29px;
  }

  .clock .hour, .hr{
    width: 264px;
    height: 264px;
  }

  .clock .min, .mn{
    width: 384px;
    height: 384px;
  }


  .clock .sec, .sc{
    width: 456px;
    height: 456px;
  }

  .hr::before{
    width: 14px;
    height: 132px;
  }

  .mn::before{
    width: 9px;
    height: 192px;
  }

  .sc::before{
    width: 3px;
    height: 264px;
  }
}

@media screen and (min-width:1920px){
  .clock_window{
    height: 2000px;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .timer{
    margin: -20% 0 0 15%;
  }

  .titleClock{
    margin-top: 0%;
  }

  .moveGround{
    width: 312px;
    height: 312px;
  }
  .clock{
    width: 648px;
    height: 648px;
    border-width: 8px;
    margin-top: -15%;
    box-shadow: 0 -35px 35px rgba(4,144,140, 0.05),
                inset 0 -35px 25px rgba(4,144,140, 0.05),
                0 -35px 35px rgba(1,52,73, 0.3),
                inset 0 -35px 35px rgba(1,52,73, 0.3);


  }
  .clock::before{
    width: 29px;
    height: 29px;
  }

  .clock .hour, .hr{
    width: 264px;
    height: 264px;
  }

  .clock .min, .mn{
    width: 384px;
    height: 384px;
  }


  .clock .sec, .sc{
    width: 456px;
    height: 456px;
  }

  .hr::before{
    width: 14px;
    height: 132px;
  }

  .mn::before{
    width: 9px;
    height: 192px;
  }

  .sc::before{
    width: 3px;
    height: 264px;
  }

  .numbers td{
    font-size: 4em;
    padding: 10px;
    border-left: 2px #052E44 solid;
  }

  .labels td{
    font-size: 1.0em;
    font-family: Montserrat;
    background-color: #052E44z
  }

}
